body {
  font-size: 16px;
  letter-spacing: normal;
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: white;
  animation: body 1s linear;
}

@keyframes body {
  to {
    background-color: #F7F7F7;
  }
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#navbar {
  height: 8.33vw;
  background-color: white;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

#logo {
  padding: 0;
}

#logo {
  margin-top: auto;
  margin-bottom: auto;
  color: #505050;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

#navbar_links {
  padding: 0;
  color: #A8ADB1;
  font-size: 1.2rem;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 0.1rem;
}

#navbar_links a{
  margin-left: 4vh;
  /* transition:font-size 1s;
  -moz-transition:font-size 1s; /* Firefox 4 */
  -webkit-transition:font-size 1s; /* Safari and Chrome */
  -o-transition:font-size 1s; */
  transition: all .25s;
}

#navbar_links a:hover {
  /* font-size: 3vh; */
  color: #505050;
}

#break_0 {
  height: 4.165vw;
}

#break_1 {
  height: 8.33vw;
}

#about .col-5 {
  padding: 0;
}

#about p {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
  color: #505050;
}

#social_media_center {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#social_media_icons {
  text-align: right;
}

#social_media_icons a{
  text-decoration: none;
}

#social_media_icons svg {
  height: 2vh;
  fill: #505050;
  margin: 0 5px;
  transition: transform .1s;

}

#social_media_icons svg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.gallery img,div {
    -webkit-transition: all 0.25s linear;
       -moz-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
         -o-transition: all 0.25s linear;
            transition: all 0.25s linear;
}

.gallery img:hover {
    opacity: 0.1;
}

.gallery img:hover + #centered_text {
    opacity: 1;
}

#gallery_large {
  height: 70vh;
  padding: 0;
  background-color: #505050;
  position: relative;
  text-align: center;
  color: white;
}

#centered_text {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;

  opacity: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image_left {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image_right {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery_small_right {
  height: 70vh;
  margin-top: 1.5vh;
  padding: 0;
  background-color: #505050;

  padding-right: .75vh;
  padding-left: 0;
  background-clip: content-box;

  position: relative;
  text-align: center;
  color: white;
}

#gallery_small_left {
  height: 70vh;
  margin-top: 1.5vh;
  padding: 0;
  background-color: #505050;

  padding-right: 0;
  padding-left: .75vh;
  background-clip: content-box;

  position: relative;
  text-align: center;
  color: white;
}

#gallery_long_left {
  height: 140vh;
  margin-top: 1.5vh;
  background-color: #505050;

  padding-right: 0;
  padding-left: .75vh;
  background-clip: content-box;

  position: relative;
  text-align: center;
  color: white;
}

#footer .col-5 {
  padding: 0;
  font-weight: 400;
  color: #A8ADB1;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
